<html>

<body>

	<form method="POST" action="/materia">

		Nombre: <input type="text" name="nombre" /> <br />
		Código:<input type="text" name="codigo" /><br />

		<input type="submit" value="Agregar materia" />

	</form>

	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Código</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="materia: ${materias}">
				<td th:text="${materia.nombre}">Oranges</td>
				<td th:text="${materia.codigo}">0.99</td>
				<td><a th:href="'/materia/' + ${materia.id}">Ir</a> </td>
				<td><form th:action="'/materia/' + ${materia.id}" method="post">
					<input type="hidden" name="_method" value="DELETE" />
					<button type="submit">Eliminar</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>